@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  position: relative;
  text-align: center;
  padding-top: 1em;
}

/* body {
  --bs-body-font-family: var(--bs-font-monospace);
  --bs-body-line-height: 1.4;
  --bs-body-bg: var(--bs-gray-100);
} */
